<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<form method="post" th:object="${taskType}">

    <div class="form-group">
        <label for="taskTypeName">New Task Type</label>
        <input type="text" class="form-control" id="taskTypeName" th:field="*{taskTypeName}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <ul>
        <li th:each="task : ${tasktypes}">
            <a th:href="www.digitalera360.com" th:text="${task.taskTypeName}"></a>
        </li>
    </ul>

</form>

<div th:replace="fragments :: bootstrap"></div>
</body>
</html>